.sidebar{
    background-color: #050022e8;
    color: white;
    width: 14%;
    height: 110vh;
}
.sidebartext{
    padding: 7%;
}
@media(max-width:750px){
    .sidebar{
        width: 12%;
    }
    .sidebartext{
        display: none;
    }
}